language: python
python:
- '3.6'
addons:
  postgresql: '9.6'
services:
- postgresql
install:
- pip install -r requirements.txt
before_script:
- export DB_USER=postgres DB_PASS=''
script:
- python manage.py test
deploy:
  provider: gae
  keyfile: $TRAVIS_BUILD_DIR/curate_science/google_cloud_credentials.json
  project: curate-science-216207
env:
  global:
    - secure: RP8VgCc6mft9F+GznJQMMGrU4VinQQHvxCDdhlUSdGjtEyjEdbNfRakO7AAHjToDernqxk2H1b24E3HwNWQKJZ6Go94rmp6CjmVPcmtmJwQTDelmCypL7W3bj9STrL83f5zNqPIQc+R0PtE467MLnOIcFigeyzU2/d3Nn/CU/4XLGUl0daHYAOYWtHfeuW1wKXYLCjZz3NzyHdbg188j2nAaEEzMfbp7duDa2tnPiq1MkNrfAMLLbAAPez//klMgtmgfojmIcRtZdvoDhuFbJWulAMikPIWvKAnKPnB3dwZbMzZUXQgEq1r5tEEnJIUdvvDD1oLPmRkvDdKlvfYHQqOLJQpt5WNMWsGqlrbBlSpR03yFpSqBgZ3+8GGicEBjPWh9x3u6VUUu13LfMWIHhPlDywGhjqc3fig3qxHmJROqQMyIbFLF7mNbjklhEC8lJmCyXc9zEsvIX++6NIpu+KFVWeuPoB8bSkgKMKZT9YV9eTss6iaVRkJPzQOo8IwcDY5eXNgCAsefH3zv1OD1xWL9OtwQPszZzYqopMCcJfGgWyDzyrQ7KdAM+QqXU0hTcP8T3KBmxWjwPdT3H9RIr5siLVXmegq5t+NxhmYL0HMI0cOtKzs+Bvxgj6mBKMcKdcY/BOmUMwa0DZ4MNqqjL0BjtHidYshKpmTyVvTzTwA=
before_install:
- openssl aes-256-cbc -K $encrypted_cd07f8c30fea_key -iv $encrypted_cd07f8c30fea_iv
  -in secrets.tar.enc -out curate_science/secrets.tar -d
- tar xvf curate_science/secrets.tar