{% extends 'base.html' %}
{% load static %}
{% block content %}

<form method="post" novalidate>
  {% csrf_token %}
  {{ form.non_field_errors }}
  {{ form.source.errors }}
  {{ form.source }}
  <h3>Article-level</h3>
  <table>
    <tr>
      <th>{{form.doi.label_tag}}</th>
      <td>
        {{form.doi.errors}}
        {{form.doi}}
      </td>
    </tr>
    <tr>
      <th>{{form.title.label_tag}}</th>
      <td>
        {{form.title.errors}}
        {{form.title}}
      </td>
    </tr>
    <tr>
      <th>{{form.authors.label_tag}}</th>
      <td>
        {{form.authors.errors}}
        {{form.authors}}
      </td>
    </tr>
    <tr>
      <th>{{form.year.label_tag}}</th>
      <td>
        {{form.year.errors}}
        {{form.year}}
      </td>
    </tr>
    <tr>
      <th>{{form.journal.label_tag}}</th>
      <td>
        {{form.journal.errors}}
        {{form.journal}}
      </td>
    </tr>
    <tr>
      <th>{{form.abstract.label_tag}}</th>
      <td>
        {{form.abstract.errors}}
        {{form.abstract}}
      </td>
    </tr>
    <tr>
      <th>{{form.article_type.label_tag}}</th>
        <td>
          {{form.article_type.errors}}
          {{form.article_type}}
        </td>
    </tr>
    <tr>
      <th>{{form.research_area.label_tag}}</th>
      <td>
        {{form.research_area.errors}}
        {{form.research_area}}
      </td>
    </tr>
    <tr>
      <th>{{form.reporting_standards_type.label_tag}}</th>
      <td>
        {{form.reporting_standards_type.errors}}
        {{form.reporting_standards_type}}
      </td>
    </tr>
    <tr>
      <th>{{form.preprint_url.label_tag}}</th>
      <td>
        {{form.preprint_url.errors}}
        {{form.preprint_url}}
      </td>
    </tr>
    <tr>
      <th>{{form.html_url.label_tag}}</th>
      <td>
        {{form.html_url.errors}}
        {{form.html_url}}
      </td>
    </tr>
    <tr>
      <th>{{form.pdf_url.label_tag}}</th>
      <td>
        {{form.pdf_url.errors}}
        {{form.pdf_url}}
      </td>
    </tr>
  </table>
  <table>
    {{ transparency_formset.management_form }}
    {% for transparency_form in transparency_formset %}
      {% if forloop.first %}
        <thead>
          <tr>
            <th>Transparencies:</th>
            <th>{{ transparency_form.transparency_type.label_tag }}</th>
            <th>{{ transparency_form.url.label_tag }}</th>
          </tr>
        </thead>
        {% endif %}
        <tr class="transparency-formset-row">
          <td>
            Transparency:
            <div>{{ transparency_form.id }}</div>
          </td>
          <td>
            {{ transparency_form.transparency_type.errors.as_ul }}
            {{ transparency_form.transparency_type }}
          </td>
          <td>
            {{ transparency_form.url.errors.as_ul }}
            {{ transparency_form.url }}
          </td>
          <td>
            {% if transparency_form.instance.id %}
            {{ transparency_form.DELETE }}
            {% endif %}
          </td>
        </tr>
    {% endfor %}
  </table>
  <table>
    {{ key_figure_formset.management_form }}
    {% for key_figure_form in key_figure_formset %}
      {% if forloop.first %}
        <thead>
          <tr>
            <th>Key Figures:</th>
            <th>{{ key_figure_form.figure_number.label_tag }}</th>
            <th>{{ key_figure_form.image_url.label_tag }}</th>
            <th>{{ key_figure_form.file_name.label_tag }}</th>
            <th>{{ key_figure_form.is_figure.label_tag }}</th>
            <th>{{ key_figure_form.is_table.label_tag }}</th>
          </tr>
        </thead>
        {% endif %}
        <tr class="keyfigure-formset-row">
          <td>
            Key_Figure:
            <div>{{ key_figure_form.id }}</div>
          </td>
          <td>
            {{ key_figure_form.figure_number.errors.as_ul }}
            {{ key_figure_form.figure_number }}
          </td>
          <td>
            {{ key_figure_form.image_url.errors.as_ul }}
            {{ key_figure_form.image_url }}
          </td>
          <td>
            {{ key_figure_form.file_name.errors.as_ul }}
            {{ key_figure_form.file_name }}
          </td>
          <td>
            {{ key_figure_form.is_figure.errors.as_ul }}
            {{ key_figure_form.is_figure }}
          </td>
          <td>
            {{ key_figure_form.is_table.errors.as_ul }}
            {{ key_figure_form.is_table }}
          </td>
          <td>
            {% if key_figure_form.instance.id %}
            {{ key_figure_form.DELETE }}
            {% endif %}
          </td>
        </tr>
    {% endfor %}
  </table>
  <table>
   <tr>
      <th>{{form.commentary_of.label_tag}}</th>
      <td>
        {{form.commentary_of.errors}}
        {{form.commentary_of}}
      </td>
    </tr>
    <tr>
      <th>{{form.reproducibility_of.label_tag}}</th>
      <td>
        {{form.reproducibility_of.errors}}
        {{form.reproducibility_of}}
      </td>
    </tr>
    <tr>
      <th>{{form.robustness_of.label_tag}}</th>
      <td>
        {{form.robustness_of.errors}}
        {{form.robustness_of}}
      </td>
    </tr>
  </table>
  <br />
  <h3>Study-level</h3>
  <table>
    {{ study_formset.management_form }}
    {% for study_form in study_formset %}
      {% if forloop.first %}
        <thead>
          <tr>
            <th>Studies:</th>
            <th>{{ study_form.study_number.label_tag }}</th>
            <th>{{ study_form.replication_of.label_tag }}</th>
            <th>{{ study_form.effects.label_tag }}</th>
            <th>{{ study_form.method_similarity_type.label_tag }}</th>
            <th>{{ study_form.method_differences.label_tag }}</th>
            <th>{{ study_form.auxiliary_hypo_evidence.label_tag }}</th>
            <th>{{ study_form.ind_vars.label_tag }}</th>
            <th>{{ study_form.dep_vars.label_tag }}</th>
            <th>{{ study_form.ind_var_methods.label_tag }}</th>
            <th>{{ study_form.dep_var_methods.label_tag }}</th>
          </tr>
        </thead>
        {% endif %}
        <tr class="study-formset-row">
          <td>
            Study:
            <div>{{ study_form.id }}</div>
          </td>
          <td>
            {{ study_form.study_number.errors.as_ul }}
            {{ study_form.study_number }}
          </td>
          <td>
            {{ study_form.replication_of.errors.as_ul }}
            {{ study_form.replication_of }}
          </td>
          <td>
            {{ study_form.effects.errors.as_ul }}
            {{ study_form.effects }}
          </td>
          <td>
            {{ study_form.method_similarity_type.errors.as_ul }}
            {{ study_form.method_similarity_type}}
          </td>
          <td>
            {{ study_form.method_differences.errors.as_ul }}
            {{ study_form.method_differences }}
          </td>
          <td>
            {{ study_form.auxiliary_hypo_evidence.errors.as_ul }}
            {{ study_form.auxiliary_hypo_evidence }}
          </td>
          <td>
            {{ study_form.ind_vars.errors.as_ul }}
            {{ study_form.ind_vars }}
          </td>
          <td>
            {{ study_form.dep_vars.errors.as_ul }}
            {{ study_form.dep_vars }}
          </td>
          <td>
            {{ study_form.ind_var_methods.errors.as_ul }}
            {{ study_form.ind_var_methods }}
          </td>
          <td>
            {{ study_form.dep_var_methods.errors.as_ul }}
            {{ study_form.dep_var_methods }}
          </td>
        <td>
          </td>
          {% if form.instance.id %}
            <td>
            {{ form.DELETE }}
            </td>
          {% endif %}
        </tr>
    {% endfor %}
  </table>
  <button type="submit" class="button">Submit</button>
</form>
<script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>

<!-- Include formset plugin - including jQuery dependency -->
<script src="{% static 'curate/js/jquery.formset.js' %}"></script>
<script>
    $('.transparency-formset-row').formset({
      addText: 'Add Transparency',
    deleteText: 'Remove',
    prefix: 'transparency'
    });
    $('.keyfigure-formset-row').formset({
      addText: 'Add Key Figure',
    deleteText: 'Remove',
    prefix: 'keyfigure'
    });
    $('.study-formset-row').formset({
      addText: 'Add Study',
    deleteText: 'Remove',
    prefix: 'study'
    });
</script>
{{form.media}}
{% endblock %}

