{% extends 'base.html' %}
{% load static %}
{% block content %}

<form method="post" novalidate>
  {% csrf_token %}
  {{ form.non_field_errors }}
  {{ form.source.errors }}
  {{ form.source }}
  <table>
    <tr>
      <th>{{form.doi.label_tag}}</th>
      <td>
        {{form.doi.errors}}
        {{form.doi}}
      </td>
    </tr>
    <tr>
      <th>{{form.title.label_tag}}</th>
      <td>
        {{form.title.errors}}
        {{form.title}}
      </td>
    </tr>
    <tr>
      <th>{{form.authors.label_tag}}</th>
      <td>
        {{form.authors.errors}}
        {{form.authors}}
      </td>
    </tr>
    <tr>
      <th>{{form.year.label_tag}}</th>
      <td>
        {{form.year.errors}}
        {{form.year}}
      </td>
    </tr>
    <tr>
      <th>{{form.abstract.label_tag}}</th>
      <td>
        {{form.abstract.errors}}
        {{form.abstract}}
      </td>
    </tr>
    <tr>
      <th>{{form.article_type.label_tag}}</th>
        <td>
          {{form.article_type.errors}}
          {{form.article_type}}
        </td>
    </tr>
    <tr>
      <th>{{form.research_area.label_tag}}</th>
      <td>
        {{form.research_area.errors}}
        {{form.research_area}}
      </td>
    </tr>
    <tr>
      <th>{{form.reporting_standards_type.label_tag}}</th>
      <td>
        {{form.reporting_standards_type.errors}}
        {{form.reporting_standards_type}}
      </td>
    </tr>
    <tr>
      <th>{{form.commentary_of.label_tag}}</th>
      <td>
        {{form.commentary_of.errors}}
        {{form.commentary_of}}
      </td>
    </tr>
    <tr>
      <th>{{form.reproducibility_of.label_tag}}</th>
      <td>
        {{form.reproducibility_of.errors}}
        {{form.reproducibility_of}}
      </td>
    </tr>
    <tr>
      <th>{{form.robustness_of.label_tag}}</th>
      <td>
        {{form.robustness_of.errors}}
        {{form.robustness_of}}
      </td>
    </tr>
  </table>
  <button type="submit">Submit</button>
</form>
<script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>
{{form.media}}
{% endblock %}

