<!-- templates/home.html -->
{% extends 'base.html' %}
{% block content %}
{% if user.is_authenticated %}
  <p>Welcome to Curate Science, {{ user.username }}!</p>
  <a href="{% url 'logout' %}">Log Out</a>
{% else %}
  <p>Welcome to Curate Science.</p>
  <a href="{% url 'login' %}">Log In</a>
{% endif %}

<div>
   <input type="search">
   <button>Search</button>
</div>

<h2>Recently Curated</h2>

<table>
  {% for a in articles %}
  <tr>
    <td>{{ a.title }}</a><td>
  </tr>
{% endfor %}
</table>
{% endblock %}
