@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700,300);
@import url(http://fonts.googleapis.com/css?family=Oswald:400,700,300);
body, input {
  font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6, .navbar .brand {
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
}
.skill.right{
   float: right;
}
    .skill.right p, .skill.right h2{
        text-align:right;
    }
