
/* old small icons for old all-replications table*/
	
	
	
.sprite {
    background-image: url(../logos/spritesheet.png);
    background-repeat: no-repeat;
    display: inline-block;
}

.sprite-code-ocean-icon {
    width: 13px;
    height: 13px;
    background-position: -5px -5px;
}

.sprite-code-ocean-icon-medium {
    width: 18px;
    height: 18px;
    background-position: -5px -28px;
}

.sprite-data {
    width: 13px;
    height: 13px;
    background-position: -5px -56px;
	opacity: 0.70;
	filter: alpha(opacity=70); /* For IE8 and earlier */
}

.sprite-data-medium {
    width: 18px;
    height: 18px;
    background-position: -5px -79px;
	opacity: 0.70;
	filter: alpha(opacity=70); /* For IE8 and earlier */
}

.sprite-data-medium-unavailable {
    width: 18px;
    height: 18px;
    background-position: -5px -107px;
}

.sprite-disclosure-medium-available {
    width: 18px;
    height: 18px;
    background-position: -5px -135px;
	opacity: 0.70;
	filter: alpha(opacity=70); /* For IE8 and earlier */
}

.sprite-disclosure-medium-unavailable {
    width: 18px;
    height: 18px;
    background-position: -5px -163px;
}

.sprite-ec-icon {
    width: 13px;
    height: 13px;
    background-position: -5px -191px;
}

.sprite-ec-icon-medium {
    width: 16px;
    height: 16px;
    background-position: -5px -214px;
}

.sprite-materials {
    width: 13px;
    height: 13px;
    background-position: -5px -240px;
	opacity: 0.70;
	filter: alpha(opacity=70); /* For IE8 and earlier */
}

.sprite-materials-medium {
    width: 18px;
    height: 18px;
    background-position: -5px -263px;
	opacity: 0.70;
	filter: alpha(opacity=70); /* For IE8 and earlier */
}

.sprite-materials-medium-unavailable {
    width: 18px;
    height: 18px;
    background-position: -5px -291px;
}

.sprite-osf-icon {
    width: 13px;
    height: 13px;
    background-position: -5px -319px;
	opacity: 0.70;
	filter: alpha(opacity=70); /* For IE8 and earlier */
}

.sprite-osf-icon-medium {
    width: 16px;
    height: 16px;
    background-position: -5px -342px;
	opacity: 0.70;
	filter: alpha(opacity=70); /* For IE8 and earlier */
}

.sprite-pdf-icon {
    width: 13px;
    height: 13px;
    background-position: -5px -368px;
	opacity: 0.70;
	filter: alpha(opacity=70); /* For IE8 and earlier */
}

.sprite-pdf-icon-medium {
    width: 18px;
    height: 18px;
    background-position: -5px -391px;
	opacity: 0.70;
	filter: alpha(opacity=70); /* For IE8 and earlier */
	margin-bottom:-5px;
}

.sprite-preregisteredplus {
    width: 13px;
    height: 13px;
    background-position: -5px -419px;
	opacity: 0.70;
	filter: alpha(opacity=70); /* For IE8 and earlier */
}

.sprite-preregisteredplus-medium {
    width: 18px;
    height: 18px;
    background-position: -5px -442px;
	opacity: 0.70;
	filter: alpha(opacity=70); /* For IE8 and earlier */
}

.sprite-preregisteredplus-medium-unavailable {
    width: 18px;
    height: 18px;
    background-position: -5px -470px;
}

.sprite-reproducible-icon-medium {
    width: 16px;
    height: 16px;
    background-position: -5px -498px;
}

	
