html, body {
    margin: 0;
    padding: 0;
}

::-webkit-input-placeholder {
	color: #DDD;
}

#loader {
	margin: 30px auto;
}

a:link, a:visited, a:hover, a:active {
	text-decoration: none;
}

.AppContent {
	min-height: 600px;
}

.ArticleWithActions {
	position: relative;
}

.ArticleWithActions .ArticleActions {
	display: none;
	text-align: right;
	position: absolute;
	width: 500px;
	bottom: 10px;
	right: 10px;
}

.ArticleWithActions:hover .ArticleActions {
	display: block;
}

.ArticleCard {
	opacity: 0.9;
}

.ArticleCard:hover {
	opacity: 1.0;
}

.ArticleCard .ContentLinkCounts {
	display: none;
}

.ArticleCard:hover .ContentLinkCounts {
	display: inline;
}

.ArticleType {
	float: left;
	display: inline-block;
	border-radius: 3px;
	opacity: 0.4;
	padding: 2px 7px;
}

.ArticleType .Count {
	border-radius: 3px;
	background: white;
	border: 1px solid #BBB;
	color: black;
	font-size: .55rem;
	padding: 1px 2px;
	margin-left: 5px;
}


.ArticleCommentaryBadge {
	background-color: #a7a7a7;
	display: inline-block;
	border-radius: 3px;
	opacity: 0.4;
	padding: 2px 7px;
	color: white;
	font-size: .75rem;
	font-family: "Roboto", "Helvetica", "Arial", sans-serif;
	vertical-align: top;
	margin-top: 5px;
}

.ArticleCommentaryBadge .Count {
	border-radius: 3px;
	background: white;
	color: black;
	font-size: .55rem;
	padding: 1px 2px;
}

.ArticleContentLinks {
	width: 20%;
	min-width: 200px;
	text-align: right;
	float: right;
}

.ArticleContentLink {
	display: inline-block;
	border-radius: 3px;
	padding: 2px 7px;
}

.ArticleKeyword {
	background: #EFEFEF;
	border-radius: 15px;
	color: black;
	padding: 2px 7px;
	font-size: 11px;
	margin-right: 5px;
}