html, body {
    margin: 0;
    padding: 0;
}

::-webkit-input-placeholder {
	color: #DDD;
}

#loader {
	margin: 30px auto;
}

a:link, a:visited, a:hover, a:active {
	text-decoration: none;
}

textarea {
	height: 18px;
}

.AppContent {
	min-height: 600px;
}

.ArticleWithActions {
	position: relative;
}

.ArticleWithActions .Article {
	display: 'block';
	width: 650px;
}

.ArticleWithActions .ArticleActions {
	display: none;
	text-align: left;
	position: absolute;
	width: 100px;
	top: 10px;
	padding: 5px 20px;
	left: 650px;
}

.ArticleWithActions .ArticleActions .ActionButton {
	display: inline-block;
	margin-bottom: 8px;
}

.ArticleWithActions:hover .ArticleActions {
	display: block;
}

.ArticleCard {
	opacity: 0.9;
}

.ArticleCard:hover {
	opacity: 1.0;
}

.ArticleCard .ContentLinkCounts {
	opacity: 0;
}

.ArticleCard:hover .ContentLinkCounts {
	opacity: 1.0;
}

.ArticleType {
	display: inline-block;
	border-radius: 3px;
	margin-bottom: 5px;
	opacity: 0.4;
	padding: 2px 7px;
}

.ArticleType .Count {
	border-radius: 3px;
	background: white;
	border: 1px solid #BBB;
	color: black;
	font-size: .55rem;
	padding: 1px 2px;
	margin-left: 5px;
}

.ArticleCommentaryBadge {
	background-color: white;
	display: inline-block;
	border-radius: 3px;
	opacity: 0.4;
	padding: 2px 7px;
	color: #444;
	border: 1px solid #444;
	font-size: .75rem;
	font-family: "Roboto", "Helvetica", "Arial", sans-serif;
	vertical-align: top;
	margin-top: 5px;
}

.ArticleCommentaryBadge .Count {
	border-radius: 3px;
	background: white;
	color: black;
	font-size: .55rem;
	padding: 1px 2px;
	border: 1px solid #444;
}

.ArticleFullTextLinks {
/*	width: 20%;
	min-width: 200px;
*/
	text-align: right;
	float: right;
}

.ArticleContentLink {
	display: inline-block;
	border-radius: 3px;
	padding: 2px 7px;
}

.ArticleKeyword {
	background: #EFEFEF;
	border-radius: 15px;
	color: black;
	padding: 2px 7px;
	font-size: 11px;
	margin-right: 5px;
}