*, *::before, *::after {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

body {
  overflow-x: hidden;
}

a:link, a:visited, a:hover, a:active {
	text-decoration: none;
}

::-webkit-input-placeholder {
	color: #CCC;
}

#loader {
	margin: 30px auto;
}

#sitename {
	color: white;
}

textarea {
	height: 18px;
}

.AppContent, .TopBar {
  width: 1100px;
  margin: 0 auto;
  position: relative;
}

@media (max-width: 1100px) {
  .AppContent, .TopBar {
    width: 100%;
    padding: 0 1rem;
    margin: 0;
  }

  .TopBar {
    padding: 0;
  }
}

.HomeArticleList {
	width: 650px;
}

.CenteredContent {
	display: block;
	margin: 0 auto;
	max-width: 650px;
}

.ArticleWithActions {
	position: relative;
}

.ArticleWithActions .Article {
	display: 'block';
	width: 650px;
}

.ArticleWithActions .ArticleActions {
	display: none;
	text-align: left;
	position: absolute;
	width: 100px;
	top: 10px;
	padding: 5px 20px;
	left: 100%;
}

.ArticleWithActions:hover .ArticleActions {
	display: block;
}

.ArticleWithActions .ArticleLeftActions {
	display: none;
	text-align: right;
	position: absolute;
	width: 100px;
	height: 200px;
	top: 0px;
	padding: -25px;
	left: -100px;
}

.ArticleWithActions:hover .ArticleLeftActions {
	display: block;
}

.ArticleWithActions .ActionButton {
	display: inline-block;
	margin-bottom: 8px;
}

.ArticleCard {
	opacity: 0.9;
}

.ArticleCard:hover {
	opacity: 1.0;
}

.ArticleCard .ContentLinkCounts {
	opacity: 0;
}

.ArticleCard:hover .ContentLinkCounts {
	opacity: 1.0;
}

.ArticleBadgeWithCount {
	box-sizing: border-box;
	font-family: "Roboto", "Helvetica", "Arial", sans-serif;
	font-size: .75rem;
	display: inline-block;
	border-radius: 3px;
	margin-bottom: 5px;
	margin-top: 5px;
	margin-right: 5px;
	vertical-align: top;
	line-height: 1.5em;
	opacity: 0.4;
	padding: 1px 4px;
}

.ArticleBadgeWithCount .Count {
	border-radius: 3px;
	box-sizing: border-box;
	background: white;
	color: black;
	font-size: .55rem;
	padding: 0px 2px;
	margin: 0 0 0 5px;
	border: 1px solid #BBB;
	vertical-align: 1.75px;
}

.ArticleBadgeWithCount.ArticleType {
	margin-top: 2px;
}

.ArticleCommentaryBadge {
	background-color: white;
	color: #444;
	border: 1px solid #444;
}

.ArticleCommentaryBadge .Count {
}

.ArticleFullTextLinks {
	margin-top: 0px;
	margin-right: -4px;
	text-align: right;
	float: right;
}

.ArticleContentLink {
	display: inline-block;
	padding: 2px 4px;
}

.ArticleContentLink .LinkLabel {
	padding: 0 4px;
}

.ArticleKeyword {
	background: #EFEFEF;
	border-radius: 15px;
	color: black;
	padding: 2px 7px;
	font-size: 11px;
	margin-right: 5px;
}

.ArticleEditorHalf {
  width: 50%;
}
@media (max-width: 1900px) {
  .ArticleEditorHalf {
    width: 100%;
  }
}

.StaticPages p {

}

.StaticPages h4 {
	font-weight: 500;
	text-align: center;
}


.StaticPages a:link, .StaticPages a:visited, .StaticPages a:hover, .StaticPages a:active,
.Footer a:link, .Footer a:visited, .Footer a:hover, .Footer a:active {
	color: #337ab7;
	text-decoration: none;
}

.StaticPages a:hover, .Footer a:hover {
	color: #2A689C;
}


/* Override carousel arrow colours so they're visible on a white background */
.carousel .control-prev.control-arrow::before,
.carousel .control-next.control-arrow::before {
  border-left-color: #666;
  border-right-color: #666;
}
